
    body {
        background-color: #141414;
        color: white;
        font-family: Arial;
        margin: 0;
        margin-top: 100px;
        padding: 0;
    }

    .detail-container {
        width: 80%;
        margin: 40px auto;
        display: flex;
        gap: 30px;
    }

	.poster {
	    width: 300px;
	    height: auto;        
	    border-radius: 10px;
	    flex-shrink: 0;      
	    object-fit: cover;   
	}
    .info {
        flex: 1;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
    }

    .date {
        margin-top: 5px;
        color: #ccc;
        font-size: 14px;
    }

    .content-box {
        margin-top: 20px;
        background: #1f1f1f;
        padding: 20px;
        border-radius: 10px;
        line-height: 1.7em;
        font-size: 16px;
        white-space: pre-line;
    }

    .actions {
        margin-top: 20px;
    }

    .btn {
        padding: 10px 18px;
        border-radius: 6px;
        font-size: 15px;
        cursor: pointer;
        margin-right: 10px;
        border: none;
    }

    .btn-edit {
        background-color: #2036CA;
        color: white;
    }
    .btn-delete {
        background-color: #e50914;
        color: white;
    }