
header {
    width: 100%;
    height: 70px;


	background: linear-gradient(to bottom, #111 0%, rgba(17, 17, 17, 0) 100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;

    /* 배너 위로 띄우기 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo img {
    height: 40px;     
    width: auto;       
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    display: inline;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.mypage a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
