
    body {
        background-color: #141414;
        color: white;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        width: 90%;
        margin: 40px auto;
        margin-top: 100px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 20px;
    }

    .card {
        background-color: #1f1f1f;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s;
        border: 1px solid #333;
    }

    .card:hover {
        transform: scale(1.03);
        border-color: #4c5fbf;
    }
    
	    .card-link {
	    text-decoration: none;
	    color: inherit;
	}
	.card-link:hover .card {
	    transform: scale(1.03);
	    border-color: #4c5fbf;
	}

    .poster {
        width: 100%;
        height: 320px;
        object-fit: cover;
        background-color: #000;
    }

    .card-content {
        padding: 15px;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .date {
        font-size: 14px;
        color: #bbb;
        margin-bottom: 12px;
    }

    .content-preview {
        font-size: 14px;
        height: 60px;
        overflow: hidden;
        color: #ddd;
        margin-bottom: 15px;
        line-height: 1.4em;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }

    .btn-edit, .btn-delete {
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 13px;
        cursor: pointer;
        border: none;
        transition: 0.2s;
    }

    .btn-edit {
        background-color: #2036CA;
        color: white;
    }
    .btn-edit:hover {
        background-color: #3052ff;
    }

    .btn-delete {
        background-color: #e50914;
        color: white;
    }
    .btn-delete:hover {
        background-color: #ff2730;
    }

    .empty {
        text-align: center;
        margin-top: 80px;
        font-size: 20px;
        color: #999;
    }
