body {
    background:#111;
    color:#fff;
    font-family:"Noto Sans KR", sans-serif;
}

.diary-container {
    max-width:800px;
    margin:40px auto;
    background:#1a1a1a;
    padding:30px;
    border-radius:12px;
    border:1px solid #333;
}

.movie-info {
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

.movie-info img {
    width:120px;
    border-radius:8px;
}

.movie-title {
    font-size:22px;
    font-weight:700;
}

.label {
    margin-top:20px;
    font-size:15px;
    font-weight:600;
}

input[type="date"], textarea {
    width:100%;
    padding:12px;
    border-radius:8px;
    background:#111;
    border:1px solid #444;
    color:white;
    margin-top:5px;
}

textarea {
    height:180px;
    resize:none;
}

.submit-btn {
    margin-top:20px;
    padding:12px 18px;
    background:#2036CA;
    color:white;
    font-weight:700;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

.submit-btn:hover {
    background:#0A1A88;
}